body{
    margin: 0;
    background-image: url(imgs/bezzu-background.png);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

/* Header Styles */

header{
    background-color: #F7C41D;
    border-bottom: 2px solid #49290C;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a {
    text-decoration: none;
    color: #49290c;
    font-weight: 700;
    border-radius: 8px;
    padding: 8px 14px;
    transition: all 0.25s ease;
}
nav a:hover {
    color: #F7C41D;
    background-color: #49290c;
}
#logo{
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Home Styles */
.welcome-content {
    text-align: center;
    color: #49290C;
    padding: 100px 20px;
}
.welcome-title {
    font-size: 48px;
    margin-bottom: 10px;
}
.welcome-subtitle {
    font-size: 24px;
    margin-bottom: 30px;
}
#btn-equipe {
    padding: 12px 24px;
    background-color: #F7C41D;
    color: #49290c;
    text-decoration: none;
    font-weight: 600;
    border-radius: 25px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
#btn-equipe:hover {
    color: #F7C41D;
    background-color: #49290c;
}

/* Footer Styles */

footer {
  background-color: #49290C;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 40px 20px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer h2 {
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links a {
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
}

.footer-links a:hover {
  color: white;
}

.footer-contact p {
  margin: 5px 0;
}

.footer-bottom {
  margin-top: 30px;
  text-align: center;
  border-top: 1px solid #555;
  padding-top: 15px;
  font-size: 14px;
}