body {
    margin: 0;
    background-image: url(imgs/bezzu-background.png);
    background-size: cover;          /* cobre tudo */
    background-position: center;     /* centraliza o corte */
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

/* Header Styles */

header{
    background-color: #F7C41D;
    border-bottom: 2px solid #49290C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a {
    text-decoration: none;
    color: #49290c;
    font-weight: 700;
    border-radius: 8px;
    padding: 8px 14px;
    transition: all 0.25s ease;
}
nav a:hover {
    color: #F7C41D;
    background-color: #49290c;
}
#logo{
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Home Styles */
.welcome-content {
    text-align: center;
    color: #49290C;
    padding: 100px 20px;
}
.welcome-title {
    font-size: 48px;
    margin-bottom: 10px;
}
.welcome-subtitle {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 500;
}
#btn-equipe {
    padding: 12px 24px;
    background-color: #F7C41D;
    color: #49290c;
    text-decoration: none;
    font-weight: 600;
    border-radius: 25px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
#btn-equipe:hover {
    color: #F7C41D;
    background-color: #49290c;
}

/* Project-Details Section Styles  */
#project-details-section {
    display: flex;
    margin-left: 80px;
    flex-direction: column;
}
.project-details-title {
  color: #49290C;
  position: relative;
  font-weight: 600;
  font-size:36px;
  margin-bottom: 10px;

}
.project-details-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 40px;
    height: 6px;
    background-color: #F7C41D;
}
.project-details-container {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  padding: 20px;
  border-radius: 18px;
  max-width: 800px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  cursor: pointer;
}
.project-details-header {
  display: flex;
  gap: 16px;
  color: #49290C;
  font-weight: 400;
  font-size:20px;
}
.project-details-container:hover {
 transform: translateY(-6px);
 box-shadow: 0 12px 25px rgba(0, 0, 0, 0.18);
}
.details-card h5{
  font-weight: 600;
  font-size:20px;
  color: #49290C;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 0 8px 0;
}
.details-card p{
  font-size:15px;

}
.details-card h5 img {
  width: 50px;
  height: 30px;
  object-fit: contain;
}
.details-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
}

#beezu-title-img {
  width: 150px;
  height: auto;
} 


/* Project-Mission-Details Section Styles  */
.project-mission-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; 
}

#project-mission-section {
    display: flex;
    margin-left: 80px;
    flex-direction: column;
}
.project-mission-content {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  padding: 10px;
  border-radius: 18px;
  max-width: 400px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  cursor: pointer;
}

.project-mission-content h5 {
  display: flex;
  align-items: center; 
  gap: 5px; 
  font-weight: 600;
  font-size:20px;
  margin: 0;
}
.project-mission-content p {
 font-size: 15px;
}
.project-mission-content h5 img {
  width: 50px;
  height: 30px;
  object-fit: contain;
}

.project-mission-content:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.18);
}

/* Project-Team-Details Section Styles  */

#project-team-section {
    display: flex;
    margin-left: 80px;
    flex-direction: column;
}

/* Project-Solution-Details Section Styles  */

#project-solution-section {
    display: flex;
    margin-left: 80px;
    flex-direction: column;
}
/* Project-Business-Details Section Styles  */

#project-business-section {
    display: flex;
    margin-left: 80px;
    flex-direction: column;
}

/* Project-Docs-Details Section Styles  */

#project-docs-section {
    display: flex;
    margin-left: 80px;
    flex-direction: column;
}
/* Footer Styles */

footer {
  background-color: #49290C;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 40px 20px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer h2 {
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links a {
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
}

.footer-links a:hover {
  color: white;
}

.footer-contact p {
  margin: 5px 0;
}

.footer-bottom {
  margin-top: 30px;
  text-align: center;
  border-top: 1px solid #555;
  padding-top: 15px;
  font-size: 14px;
}